@charset "UTF-8";

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px;
    justify-content: center;
    background-image: url(../image/imagem-fundo.png);
    background-size: cover;
    background-position: 50%;

}

h1{
    font-size: 24px;
}

form {
    background-color: white;
    width: 420px;
    padding: 50px;
    flex-direction: column;
    display: flex;
    border-radius: 10%;   
}

label{
    margin-top: 20px;
} 

button {
    background: #0066A2;
    color: white;   
    height: 50px;
    width: 200px;
    border-radius: 20px;
    align-self: center; 
    text-transform: uppercase;
    margin-top: 10px;
}

input{
    background: #f1f1f1;

}
.titulo{
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.barra-horizontal{
    background-color: #f87842;
    height: 5px;
    width: 210px;
}

.campo-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Esqueceu-senha {
    text-align: center;
    display: flex;
    gap: 5px;    
}

.lembrar-me {
    display: flex;   
    gap: 5px;    
}